@if (canDisplayDetails() && selectedAction(); as action) {
  <action-details-tabs
    [activeTab]="currentTab()"
    (tabChange)="currentTab.set($event)"
  />

  <div class="tab-content">
    @switch (currentTab()) {
      @case ("payload") {
        <action-payload [action]="action" />
      }
      @case ("state") {
        <action-state
          [action]="action"
          [pinnedPath]="pinnedPath()"
          (pinNode)="pinNode($event)"
          (unpinNode)="unpinNode()"
          (setNewPath)="$event ? pinNode($event) : unpinNode()"
        />
      }
      @case ("diff") {
        <action-diff [action]="action" />
      }
    }
  </div>
}
