@use "variables" as vars;

:host {
  display: block;
  padding: 0 vars.$space-8 vars.$space-4 vars.$space-8;

  border-bottom: thin solid vars.$border-light;
  color: vars.$primary;
}

.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #9585f1;
  }
}
